@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

i {
    color: #3c3c3c;
}

.container {
    width: 40%;
    margin: 0 auto;
    font-size: 2em;
}

.topbar {
    background-color: #fcfcfc;
    border: 1px solid #f4f4f4;
    border-top: 0px;
    padding: 15px;
}

.topbar i {
    font-size: 0.8em;
}

.feed {
    padding-top: 80px;
    padding-bottom: 80px;
}

.feed .post .post-header {
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #f4f4f4;
    border-bottom: 0px;
}

.post {
    margin-bottom: 50px;
}

.post-header span {
    font-size: 0.7em;
}

.post-header .profile-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    padding: 10px;
}

.post-image img {
    width: 100%;
    border: 1px solid #f4f4f4;
    border-bottom: 0px;
}

.post-bottom {
    border: 1px solid #f4f4f4;
    border-top: 0px;
}

.post-bottom i {
    padding: 10px;
}

.post-bottom p {
    font-size: 0.6em;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.posts img {
    width: 200px;
    margin: auto;
}

.profile {
    margin-bottom: 50px;
    margin-top: 50px;
}

.profile .details {
    display: inline;
    float: right;
}

.details .numbers p {
    display: inline;
    font-size: 0.7em;
}

.profile::after {
    clear: both;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline;
}

/*

    Helper functions

*/

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/*

    Responsive

*/
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
  }